#container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.group-button {
  display: flex;
  gap: 20px;
}

button,
a {
  width: 100px;
  height: 40px;
  color: rgb(75, 75, 75);
}

a,
label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#vermelho {
  background-color: rgb(254, 111, 111);
}

#verde {
  background-color: rgb(111, 254, 111);
}

#azul {
  background-color: rgb(111, 111, 254);
}

#amarelo {
  background-color: rgb(254, 254, 111);
}

#ciano {
  background-color: rgb(111, 254, 254);
}

#magenta {
  background-color: rgb(254, 111, 254);
}

#laranja {
  background-color: rgb(254, 165, 111);
}

#violeta {
  background-color: rgb(165, 111, 254);
}
